:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --darkgray: hsl(0, 0%, 55%);
  --verydarkgray: hsl(0, 0%, 41%);
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  line-height: 1;
  font-family: "Josefin Sans", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 80%;
}

.primary-heading {
  font-size: 8rem;
  text-transform: uppercase;
  color: var(--white);
  font-weight: 300;
  padding: 5rem;
  border: 1px solid var(--white);
  display: inline-block;
}

.secondary-heading {
  font-size: 6.4rem;
  text-transform: uppercase;
  font-weight: 300;
  display: inline-block;
  margin-bottom: 2rem;
}

.tertiary-heading {
  font-size: 4.8rem;
  text-transform: uppercase;
  font-weight: 200;
  display: inline-block;
  color: inherit;
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.308), rgba(0, 0, 0, 0.445)),
    url(/images/desktop/image-hero.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  margin-bottom: 20rem;
  padding-top: 6rem;

  &__list {
    list-style: none;
    font-family: inherit;
    display: flex;
    gap: 3rem;
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      color: inherit;
      padding-bottom: 0.5rem;
      font-weight: 300;
      position: relative;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 25%;
      width: 50%;
      border-bottom: 2.5px solid white;
      transform: scaleX(0);
      transition: transform 0.3s ease;
    }

    &:hover::after,
    &:active::after {
      transform: scaleX(1);
    }
  }
}

//SECTION LEADER

.section-leader {
  margin: 14rem 0;
}

.leader {
  position: relative;
  &__img {
    z-index: -1;
    width: 60%;

    img {
      width: 100%;

      object-fit: cover;
    }
  }

  &__desc {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    padding: 10rem 0 0 10rem;
    background-color: var(--white);
  }

  &__description {
    color: var(--darkgray);
    line-height: 1.6;
    font-size: 1.8rem;
  }
}

//SECTION-creations

.section-creations {
  padding: 0 0 9.6rem 0;
}

.creations {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 45rem 45rem;
    gap: 3rem;
  }

  &__block {
    position: relative;
    padding: 4rem;
    height: 100%;
    color: var(--white);
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s;
    &:hover {
      color: var(--black);
    }

    &:hover::before {
      opacity: 0.4;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: top;
      transition: all 0.3s;
      z-index: -1;
    }

    &--1::before {
      background-image: url(/images/desktop/image-deep-earth.jpg);
    }

    &--2::before {
      background-image: url(/images/desktop/image-night-arcade.jpg);
    }

    &--3::before {
      background-image: url(/images/desktop/image-soccer-team.jpg);
    }

    &--4::before {
      background-image: url(/images/desktop/image-grid.jpg);
    }

    &--5::before {
      background-image: url(/images/desktop/image-from-above.jpg);
    }

    &--6::before {
      background-image: url(/images/desktop/image-pocket-borealis.jpg);
    }

    &--7::before {
      background-image: url(/images/desktop/image-curiosity.jpg);
    }

    &--8::before {
      background-image: url(/images/desktop/image-fisheye.jpg);
    }
  }
}

.btn {
  padding: 1.2rem 3.6rem;
  letter-spacing: 3px;
  font-family: inherit;
  background-color: var(--white);
  border: 1px solid var(--black);
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: var(--black);
    color: var(--white);
  }
}

//SECTION FOOTER

.footer {
  padding: 4rem 0;
  background-color: var(--black);
  &__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
  }

  &__icons {
    display: flex;
    gap: 2rem;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
  }

  &__description {
    color: var(--verydarkgray);
  }
}

@media only screen and (max-width: 99em) {
  html {
    font-size: 60%;
  }

  .secondary-heading {
    font-size: 5.4rem;
  }

  .leader__desc {
    width: 50%;
    padding: 7rem 0 0 7rem;
  }

  .leader__description {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 80em) {
  html {
    font-size: 55%;
  }

  .tertiary-heading {
    font-size: 3.2rem;
  }

  .secondary-heading {
    font-size: 4.8rem;
  }

  .leader__description {
    font-size: 1.6rem;
  }

  .creations__block {
    padding: 2rem;
  }
}

@media only screen and (max-width: 70em) {
  html {
    font-size: 50%;
  }

  .primary-heading {
    font-size: 5.8rem;
  }

  .nav {
    margin-bottom: 10rem;
  }

  .leader__desc {
    width: 60%;
    padding: 5rem 0 0 5rem;
  }

  .header {
    height: 60vh;
  }
}

@media only screen and (max-width: 60em) {
  html {
    font-size: 50%;
  }

  .primary-heading {
    font-size: 5rem;
  }

  .secondary-heading {
    font-size: 4rem;
  }
  .tertiary-heading {
    font-size: 3rem;
  }

  .leader__desc {
    padding: 3rem 0 0 3rem;
  }

  .leader__description {
    font-size: 1.5rem;
  }
  .container {
    max-width: 90%;
  }

  .nav {
    padding-top: 3rem;
  }
}

@media only screen and (max-width: 45em) {
  html {
    font-size: 50%;
  }

  .section-leader {
    margin: 10rem 0;
  }

  .leader__desc {
    position: static;
    text-align: center;
    width: 100%;
    padding: 2rem 3rem 3rem 3rem;
    background-color: var(--white);
  }

  .leader__img {
    width: 100%;
  }
}
