:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --darkgray: hsl(0, 0%, 55%);
  --verydarkgray: hsl(0, 0%, 41%);
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  line-height: 1;
  font-family: "Josefin Sans", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 80%;
}

.primary-heading {
  font-size: 8rem;
  text-transform: uppercase;
  color: var(--white);
  font-weight: 300;
  padding: 5rem;
  border: 1px solid var(--white);
  display: inline-block;
}

.secondary-heading {
  font-size: 7rem;
  text-transform: uppercase;
  font-weight: 300;
  display: inline-block;
  margin-bottom: 2rem;
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.308), rgba(0, 0, 0, 0.445)),
    url(/images/desktop/image-hero.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  margin-bottom: 20rem;
  padding-top: 2rem;

  &__list {
    list-style: none;
    font-family: inherit;
    display: flex;
    gap: 3rem;
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      color: inherit;
      padding-bottom: 0.5rem;
      font-weight: 300;
      position: relative;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 25%;
      width: 50%;
      border-bottom: 2.5px solid white;
      transform: scaleX(0);
      transition: transform 0.3s ease;
    }

    &:hover::after,
    &:active::after {
      transform: scaleX(1);
    }
  }
}

//SECTION LEADER

.section-leader {
  margin: 14rem 0;
}

.leader {
  position: relative;
  &__img {
    z-index: -1;
    width: 60%;

    img {
      width: 100%;

      object-fit: cover;
    }
  }

  &__desc {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    padding: 10rem 0 0 10rem;
    background-color: var(--white);
  }

  &__description {
    color: var(--darkgray);
    line-height: 1.6;
    font-size: 1.8rem;
  }
}
